@import url("https://fonts.googleapis.com/css?family=Montserrat");

body,
input,
button {
  font-family: "Montserrat", sans-serif;
}

#root {
  min-width: 800px;
  max-width: 900px;
  margin: 0 auto;
}
