@import url("https://fonts.googleapis.com/css?family=Montserrat");

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

body,
input,
button {
  font-family: "Montserrat", sans-serif;
}

#root {
  min-width: 800px;
  margin: 0 auto;
}
